:root {
    /* colors */
    --primary: #00000;
    --secondary: #F7931E;
    --tertiary: #EBEBEB;

}
/* Universal Properties */
img{
    width: 100%;
}
@font-face{
    font-family: futura;
    src: url("Gill\ Sans\ MT\ Medium.ttf");
}

/* Style for the background */
body{
    background: #ffffff;
    font-family: futura;
    box-sizing: border-box;
}
/* Company Logo */
.logo{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.logo-image{
    width: 8rem;
    margin-left: 1rem;
}
.text{
    margin-left: auto;
    margin-right: 1.5rem;
}
.stay{
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1rem;
    height: 1rem;
    margin-top: 1rem;
    font-family: futura;
}
.icons{
    margin-left: 0.3rem;
}
i{
    margin-left: 0.2rem;
    width: 2.1rem;
    height: 1.8rem;
    padding-top: 0.7rem;
    background: #EBEBEB;
    border-radius: 5px;
}
.icons > a{
color: var(--secondary);
text-align: center;
height: 2rem;
}

.article{
    position: absolute;
    top: 15%;
    text-align: center;
}

/* Coming Soon Banner */
.coming-soon{
    color: var(--secondary);
    font-size: 3rem;
    font-family: futura;
    height: 50px;
    margin-top: 4rem;
    line-height:3rem;
    text-align: center;
}

/* Coming soon note */
.note{
    width: 17rem;
    margin-left: 1rem;
    height: 38px;
    margin-top: 2.5rem;
    font-weight: normal;
    line-height: 19.18px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.7);
}
/* Email input */
#email{
    width:20rem;
    height: 56px;
    padding-left: 2rem;
    margin-top: 3rem; 
    box-sizing: border-box;
    border-radius:0.5rem ;
    border: 1px solid #F7931E;
}
#email:focus{
    outline: none;
}
#email::placeholder{
    margin-top: 1rem;
    height: 39px;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
}
/* Notify me button */

.rect{
    width: 20rem;
    height: 56px;
    margin-top: 2rem;
    border: none;
    background:#F7931E ;
    color: #ffffff;
    line-height: 19px;
    font-size: 1em;
    font-weight: bold;
}
.rect:hover{
    cursor: pointer;
}
/* Construction Image */
.main-image{
    padding-top: 5rem;
    margin:auto;
    width: 70vw;
}
/* Left side Big black image */
.big-black-left{
    position: absolute;
    width: 34px;
    height: 55vh;
    left: 0px;
    top: 22rem;
    background-image: url("BiGBlack 4.png");
    background-size: cover;
}

/*Right side Big black image  */
.big-black-right{
position: absolute;
width: 34px;
height: 55vh;
right: 0px;
top: 22rem;
background: url("BiGBlack 4.png");
background-size: cover;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media screen and (max-width:330px){
    .logo{
        width: 100%;
        
    }
       .coming-soon{
        margin-top: 4rem;
        font-size: 2.4rem;
    }
    .note{
        width: 81vw;
        margin-top: 2rem;
    }
    .rect{
        width: 15rem;
        
    }
    #email{
        width: 15rem;
    }
    .main-image{
        width: 80vw;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
    }
    .big-black-left{
        top: 20rem;
        height: 450px;
    }
    .big-black-right{
        top: 20rem;
        height: 450px;
    }
}
@media screen and (min-width:350px){
    .coming-soon{
        font-size: 3rem;
    }
    .note{
        width: 90vw;
    }
    .big-black-left{
        width: 2rem;
    }
    .big-black-right{
        width: 2rem;
    }
}
@media screen and (min-width:1024px){
    .article{
        top: 5%;
        text-align: center;
    }
    .logo{
        margin-top: 1rem;
    }
    .logo-image{
        margin-top: 4rem;
        margin-left: 5rem;
    }
    /* Text and social media Icons */
    .text{
        display: flex;
        margin-top: 3.2rem;
    }
    .stay{
        padding-top: 0.4rem;
    }
    .icons{
        margin-top: 1rem;
    }
    /* Coming soon article */
    
    .coming-soon{
        font-size: 4rem;
        margin-top: 1rem;
        width: 60vw;
    }
    .note{
        font-size: 3rem;
        line-height: 2rem;
        width: 50vw; 
        margin-top: 2rem;
    }
    #email{
        margin-top: 1rem;
        width: 60vw;
        height: 4rem;
    }
    .rect{
        width: 60vw;
        height: 4rem;
        margin-top: 3rem;
    }
    .main-image{
        margin-top: 5rem; 
        width: 70vw;
    }
    .big-black-left{
        /* top: 50%; */
        width: 7rem;
        height: 70vh;
    }
    .big-black-right{
        /* top: 60%; */
        height: 70vh;
        width: 7rem;
    }
}
@media screen and (min-width:1023px){
    .logo{
        margin:2rem auto;
    }
    .logo-image{
        margin-top: 1rem;
        width: 10rem;
        margin-left: 7rem;
    }
    /* Text and social media Icons */
    .text{
        display: flex;
        margin-top: 1rem;
        margin-right: 5rem;
    }
    .stay{
        padding-top: 1rem;
        justify-self: start;
    }
    /* Coming soon article */
    .article{
        display:grid;
        grid-template-columns:1fr 1fr;
        top: 15%;
        margin: 3rem;
        justify-items: end;
        text-align: start;
    }
    .article-text{
        margin-top: 2rem;
        margin-left: 2rem;
        justify-self: center;
        align-self: center;
    }
    .coming-soon{
        font-size: 4rem;
        margin-top: 2rem;
        height: 4rem;
        width: 40vw;
        text-align: left;
    }
    .note{
        font-size: 1.3rem;
        line-height: 2rem;
        margin-top: 2rem;
        width: 30vw;
    }
    #email{
        margin-top: 3rem;
        width: 20vw;
        height: 4rem;
    }
    .rect{
        width: 20vw;
        height: 4rem;
    }
    .main-image{
        margin-right: 3rem;
        width: 45vw;
    }
    .big-black-left{
        width: 4rem;
        top: -10%;
        height: 100vh;
    }
    .big-black-right{
        width: 4rem;
        top: -10%;
        height: 100vh;
    }
}
